node_modules
.DS_Store
npm-debug.log*
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
data/**/*.xlsx
data/**/*.xls
data/**/*.csv
data/parquet/
data/sources/
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.infra/
